*{margin: 0;padding: 0;}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 310px;
    margin: 50px auto;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

input,
#add-text[type='text'] {
    padding: 5px 0;
}

li {
    margin: 5px 0;
}